@model PM.MVC.ViewModels.SuitableProjectResourceViewModel

@{
  ViewData["Title"] = "Suitable Resources";
}

<h1 class="display-4 m-1">Suitable Resources</h1>

<form asp-action="AddResources" asp-controller="Projects" method="post">
  <table class="table">
    <thead class="thead-dark">
    <tr>
      <th scope="col"></th>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Qualifications</th>
    </tr>
    </thead>

    <tbody class="accordion" id="accordionExample">

    @for (int i = 0; i < Model.SuitableProjectResourceList.Count; i++)
    {
        <tr>

            <th scope="row">
                <input asp-for="@Model.SuitableProjectResourceList[i].IsChecked" />
            </th>

            <td>
                <input asp-for="@Model.SuitableProjectResourceList[i].IdentityResource.Id" type="hidden"/>@Model.SuitableProjectResourceList[i].IdentityResource.Id
            </td>
            <td>
                <input asp-for="@Model.SuitableProjectResourceList[i].IdentityResource.Email" type="hidden"/>@Model.SuitableProjectResourceList[i].IdentityResource.Email
            </td>

            <td class="w-50">

                <button class="btn btn-link collapsed p-0" type="button" data-toggle="collapse"
                        data-target="#collapseOne@(Model.SuitableProjectResourceList[i].IdentityResource.Id)"
                        aria-expanded="false" aria-controls="collapseOne@(Model.SuitableProjectResourceList[i].IdentityResource.Id)">
                    Qualifications
                </button>

                <ul id="collapseOne@(Model.SuitableProjectResourceList[i].IdentityResource.Id)" class="collapse" aria-labelledby="headingOne@(Model.SuitableProjectResourceList[i].IdentityResource.Id)" data-parent="#accordionExample">
                    @foreach (string q in Model.SuitableProjectResourceList[i].IdentityResource.QualificationResources.Select(x => x.Qualification.ToString()))
                    {
        <li>@q</li>
}
                </ul>

            </td>

        </tr>
            }
            </tbody>
          </table>

          <div class="col-lg-9">
            <a asp-area="" class="btn btn-secondary" onClick="history.go(-1);return false;">Back</a>
            <input class="btn btn-primary" type="submit" value="Submit"/>
          </div>

        </form>
